@model IEnumerable<Garage_3.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<a asp-action="RegisterVehicle" class="btn btn-primary mb-3 mt-2">Register vehicle </a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="EditVehicle" asp-route-id="@item.RegNr">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RegNr">Details</a>
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.RegNr">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
