@model IEnumerable<Garage_3.Models.ViewModels.ParkingSpotOverviewViewModel>

@{
    ViewData["Title"] = "ParkingspotsOverview";
}

<h1>ParkingspotsOverview</h1>

<partial name="_GarageFeedbackPartial" />

<p>
    <a asp-action="AddParkingSpot">Add Parkingspot</a>
</p>

<form asp-action="ParkingFilter" method="get">
    <div class="input-group mb-3">
        <input type="number" class="form-control" name="id" placeholder="Id" />
        <select class="form-control" name="status">
            <option value="null">Status</option>
            <option value="0">Empty</option>
            <option value="1">Partly</option>
            <option value="2">Full</option>
        </select>
        <div class="input-group-append" id="filter-submit">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <div class="ps ps-@item.Status"></div>
            </td>
            <td>
                @if (!item.Vehicles.Any())
                {
                    <span></span>
                }
                @foreach (var vehicle in item.Vehicles)
                {
                    @vehicle.RegNr
                }
            </td>
            <td>
                <a asp-action="EditParkingSpot" asp-route-id="@item.Id">Edit</a>
                <span class="park-@item.Status"> | <a asp-action="ParkVehicle" asp-route-id="@item.Id">Park vehicle</a></span>
            </td>
        </tr>
}
    </tbody>
</table>
